.coin-header__cointainer{
    display: flex;
    justify-content: center;  
    font-weight: bold; 
    font-size: 1.25rem;
}

.coin-header__row{
        display: flex;
        flex-direction: row;
        justify-items: start;
        height: 5rem;
        border-bottom: 1px solid #d7d7d7;
        width: 56.25rem;   
}

.coin-name{
    width: 9.375rem;
    margin-left: 2.5rem;
}